<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Watchalike - Watch videos together with friends</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <link href="/css/cover.css" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9490853-21"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-9490853-21');
    </script>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <!-- <div class="inner"> -->
          <!-- <h3 class="masthead&#45;brand"><a href="/">Watchalike</a></h3> -->
          <!-- <nav class="nav nav&#45;masthead justify&#45;content&#45;center"> -->
          <!--   <a class="nav&#45;link active" href="#">Home</a> -->
          <!--   <a class="nav&#45;link" href="#">Features</a> -->
          <!--   <a class="nav&#45;link" href="#">Contact</a> -->
          <!-- </nav> -->
        <!-- </div> -->
      </header>

    {{{body}}}
    </div>
  </body>
</html>
