<div class="container" style="margin-top: 200px">
<div id="share-jumbotron" class="jumbotron" style="visibility: hidden">
  <!-- <h1 class="display&#45;5">Watch Videos in Sync</h1> -->
  <p class="lead">You've been invited to watch a video together at {{siteName}}.</p>
  <hr class="my-4">
  <div id="need-chrome" style="display: none">
      <p>Before you start, you need to use Google Chrome.</p>
      <div class="text-center">
          <a class="btn btn-primary btn-lg" href="https://www.google.com/chrome/" target="_blank" role="button">
              <i class="fas fa-external-link-alt"></i> Download Google Chrome</a>
      </div>
  </div>
  <div id="need-extension" style="display: none">
    <p>Before you start, you need to add the free extension to Google Chrome.</p>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/gaobldoddnlopccjidfbahcofidniohn" target="_blank" role="button">
        <i class="fas fa-external-link-alt"></i> Add to Google Chrome</a>
    </div>
  </div>
  <div id="need-permission" style="display: none">
      <p>Before you go, you need to allow Video Sync to work on {{siteName}}.</p>
      <div class="text-center">
          <a id="grant-permission" class="btn btn-primary btn-lg" href="#" role="button">Allow and continue to {{siteName}}</a>
      </div>
  </div>
</div>
</div>

<script src="/share.js"></script>
