<div class="container" style="margin-top: 100px">
<div id="share-jumbotron" class="jumbotron" style="visibility: hidden">
  <!-- <h1 class="display&#45;4">Hello, world!</h1> -->
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <div id="need-chrome" style="display: none">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-block btn-primary btn-lg" href="https://www.google.com/chrome/" target="_blank" role="button">(icon) Download Google Chrome</a>
  </div>
  <div id="need-extension" style="display: none">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-block btn-primary btn-lg" href="https://chrome.google.com/webstore/detail/netflix-party/oocalimimngaihdkbihfgmpkcpnmlaoa" target="_blank" role="button">(icon) Add to Google Chrome</a>
  </div>
  <div id="need-permission" style="display: none">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a id="grant-permission" class="btn btn-block btn-primary btn-lg" href="#" role="button"><i class="icon-external-link"></i> Continue to {{siteName}}</a>
  </div>
</div>
</div>

<script src="/share.js"></script>
